---
layout: default
---
{% for post in paginator.posts %}
<section id="one">
	<header class="major">
			<h2>{{ post.title }} @ {{ post.date | date: "%b %-d, %Y" }}</h2>
		</header>
		<p>{{ post.content | truncatewords:6}}</p>
		<ul class="actions left"> 
		    <li><a>{{ post.date | date: "%b %-d, %Y" }}</a></li>
			</ul>	
		<ul class="actions right">
			<li><a href="{{ post.url | prepend: site.baseurl }}" class="button">繼續閱讀</a></li>
			</ul>
		</section>
		</br>
{% endfor %}

{% if paginator.total_pages > 1 %}
<div class="pagination">
	{% if paginator.previous_page %}
		<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
	{% else %}
		<span>&laquo; Prev</span>
	{% endif %}
	{% for page in (1..paginator.total_pages) %}		
		{% if page == paginator.page %}
		   	<em>{{ page }}</em>
	   	{% elsif page == 1 %}
		  	<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
	   	{% else %}
	   		<a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
		{% endif %}
	{% endfor %}
	{% if paginator.next_page %}
		<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
	{% else %}
	 	<span>Next &raquo;</span>
   	{% endif %}
</div>
{% endif %}

