---
layout: default
---
按照日期顯示 / <a href="/list">按照分類顯示</a>
			</hr>
{% for post in paginator.posts %}
<section>
	<header class="major">
		<h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
	</header>
		<div>
			<h3>發佈日期: {{ post.date | date: "%b %-d, %Y" }} | 作者: {{ post.post_author }} </h3>
			{{ post.content | truncatewords:5}}
		</div>
		<div>
		<ul class="actions left"> 
		</ul>	
		<ul class="actions right">
			<li><a href="{{ post.url | prepend: site.baseurl }}" class="button">繼續閱讀</a></li>
		</ul>
		<br />
		</div>
	</section>
{% endfor %}

{% if paginator.total_pages > 1 %}
<div class="pagination">
	{% if paginator.previous_page %}
		<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
	{% else %}
		<span>&laquo; Prev</span>
	{% endif %}
	{% for page in (1..paginator.total_pages) %}		
		{% if page == paginator.page %}
		   	<em>{{ page }}</em>
	   	{% elsif page == 1 %}
		  	<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
	   	{% else %}
	   		<a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
		{% endif %}
	{% endfor %}
	{% if paginator.next_page %}
		<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
	{% else %}
	 	<span>Next &raquo;</span>
   	{% endif %}
</div>
{% endif %}

